*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  rgb(2, 23, 42);
}
.head{
    height: 15vh;
    width: 100%;
    padding: 2% 5%;
    background-color: black;
    color: aliceblue;
    font-size: xx-large; 
    display: flex;
    position: fixed;
    top: 0%;

}
.nav{
    height: 10vh;
    width: 50%;
    margin-left: 50%;
    justify-content: space-between;
}
.nav ul{
    display: flex;
    justify-content: flex-end;
    
}
a{
    text-decoration: none;
    color: aliceblue;
}

.nav ul li{
     padding-left: 10%;
     list-style: none;  
}
#banner{
    height: 83vh;
    width: 90%;
    /* border: 1px solid; */
    margin-left: 5%;
    margin-top: 2vh;
    border-radius: 30px;
    background-color: whitesmoke;
    margin-top: 16vh;   
}
.nav ul li a:hover{
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 50px;
    font-size: 40px;
}
#banner h1{
    font-size: 100px;
    font-family:   Imprint MT Shadow;
    color: black;
    text-shadow: 1px 2px 5px  blue;
    padding: 2% 2%;
}
#banner h2{
    font-size: 60px;
    /* color: whitesmoke;
    text-shadow: 1px 2px 10px  darkblue; */
    padding-left: 10%;
    color: black;
    text-shadow: 1px 2px 5px  blue;
    padding-top: 2%;
    font-family: cursive;

    
}
#im{
    height: 400px;
    width: 40%;
    border-radius: 50%;
    margin-left: 55%;
    margin-top: -280px;

}

section{
    height: 630px ;
    width: 100%;
    /* border: 1px solid; */
}
#About {
    height: 550px;
    width: 1100px;
    background-color: whitesmoke;
    box-shadow:4px 4px black;
    border-radius: 15px;
    margin-left: 200px;
    margin-top: 3%;

}

#para1 {
    text-align: center;
    color: black;
    font-size: 50px;
    
}

#para2 {
    color: lightslategray black;
    font-size: xx-large;
    text-align: center;
    padding-top: 1%;
}
#p2{
    color: lightslategray black;
    font-size: xx-large;
    text-align: center;
    padding-top: 4%;
}

#para3 {
    font-size: x-large;
    margin-left: 10%;
}

#para4 {
    font-size: x-large;
    margin-left: 10%;
    margin-left: 600px;
    margin-top: -180px;
}

#para5 {
    text-align: center;
    font-size: larger;
    padding-top: 2%;
}
.Portfolio{
    height: 630px;
    width: 100%;
    /* border: 1px solid; */
}   
#main2{
    height: 620px;
    width: 100%;
    margin-top: 2%;
    /* border: 1px solid red; */ 
    background-color:  rgb(2, 23, 42);
}
#box3{
    height: 400px;
    width: 600px;
    /* border: 1px border red; */
   
}
#para6{
    color:white;
    font-size: 80px;
    font-family:   Imprint MT Shadow;
    text-align: center;
}
#img1{
    left: 20px;
    height: 490px;
    width: 550px;
    border-radius: 100px;
    margin-left: 2%;
    margin-top: 1%;
    
}
.boxex{
    height: 400px;
    width: 400px;
    /* border: 1px solid; */
}

.one{
    height: 200px;
    width: 400px;
    /* border: 1px solid whitesmoke; */
    position: absolute;
    top: 210%;
    left: 650px;
    border-radius: 100px;
    box-shadow: 1px 2px 3px white;
}
.black{
    left: 1050px;
}
.white{
    left: 630px;
}
.blue{
    margin-top: 210px;
    left: 1050px;
}
.green{
    margin-top: 210px;
    left: 630px; 
}
bold{
    color: white;
    position: absolute;
    left: 130px;
    top: 20px;
    font-size: x-large;
}
#para7{
    color: aliceblue;
    font-size: large;
    text-align: center;
}
.footer{
    height: 30vh;
    width: 100%;
    
}
#pic1{
    height: 40px;
    width: 40px;
    margin-left: 90px;
    margin-top: 2%;
}
#para10{
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}
#para11{
    margin-top: 15vh;
    margin-left: 84%;
    color: aliceblue;
    
}
#foot{
    height: 10vh;
    width: 40%;
    margin: auto;
    margin-top: 100px;
}




